In [38]:
import pandas as pd
import numpy as np

revpers_ron = pd.read_csv("./.data/REVPERS.csv")
revpers_eur = pd.read_csv("./.data/REVPERS_EUR.csv")

revpers = pd.concat([revpers_ron, revpers_eur], ignore_index=True)

revpers["Account"] = "Rev Pers"
revpers["Description2"] ="" #adding empty column to match the other tables

revpers.head()

,Type,Product,Started Date,Completed Date,Description,Amount,Fee,Currency,State,Balance,Account,Description2
0,INTEREST,Deposit,2024-07-03 02:00:00,2024-07-03 03:47:05,Interest earned - Savings account,0.01,0.0,RON,COMPLETED,50.52,Rev Pers,
1,INTEREST,Deposit,2024-07-05 02:00:00,2024-07-05 04:04:16,Interest earned - Savings account,0.01,0.0,RON,COMPLETED,50.53,Rev Pers,
2,INTEREST,Deposit,2024-07-08 02:00:00,2024-07-08 03:44:05,Interest earned - Savings account,0.01,0.0,RON,COMPLETED,50.54,Rev Pers,
3,INTEREST,Deposit,2024-07-10 02:00:00,2024-07-10 03:54:11,Interest earned - Savings account,0.01,0.0,RON,COMPLETED,50.55,Rev Pers,
4,INTEREST,Deposit,2024-07-12 02:00:00,2024-07-12 04:08:16,Interest earned - Savings account,0.01,0.0,RON,COMPLETED,50.56,Rev Pers,

In [41]:
regex_pattern = r"INTEREST|EXCHANGE|DEPOSIT"
mask = ~revpers["Type"].str.contains(regex_pattern)
filtered_revpers = revpers.loc[mask].copy()
filtered_revpers.drop(columns=['Balance', 'State', 'Fee', 'Completed Date', 'Product',"Type"], inplace=True)


filtered_revpers = filtered_revpers.rename(columns={
    'Started Date': 'Payment Date',
    'Description2':'Description',
    'Description': 'Merchant',
    'Amount': 'Debit',
    'Currency': 'Currency',
    'Rev Pers': 'Rev Pers'
})

new_order = ['Payment Date', 'Merchant','Description', 'Debit', 'Currency','Account']



filtered_revpers=filtered_revpers[new_order]

filtered_revpers['Payment Date'] = pd.to_datetime(filtered_revpers['Payment Date']).dt.strftime('%Y-%m-%d')

filtered_revpers.head()

,Payment Date,Merchant,Description,Debit,Currency,Account
15,2024-07-01,YouTube,,-16.55,RON,Rev Pers
17,2024-07-04,To SILVIU OSADCI,,-5.00,RON,Rev Pers
18,2024-07-04,To SILVIU OSADCI,,-195.00,RON,Rev Pers
19,2024-07-06,From BOGDAN-ANDREI VOICU,,2800.00,RON,Rev Pers
20,2024-07-06,To MIHAELA RADULESCU,,-2800.00,RON,Rev Pers

In [42]:
filtered_revpers.to_csv("./.data/filtered_revpers.csv", index=False)